<section class="section section_1">
  <div class="wrapper">
    <div class="head-block">
      <div class="head-block__left">
        <h1>
          нужен <br />
          займ?
        </h1>
        <div class="head-text">Получи под 0.01% сейчас на карту</div>
      </div>
      <div class="head-block__right">
        <app-loam-form ></app-loam-form>
        <!-- <script type="text/javascript">
          var calcMax = parseInt("20000");
          var calcMin = parseInt("500");
          var calcStep = parseInt("500");
          var calcCurrent = parseInt("3000");
          var calcPercent = parseFloat("0.01");
          var recurrentSum = parseInt("169");
          var calcSettings = {
            start: [calcCurrent],
            connect: [true, false],
            range: {
              min: [calcMin],
              max: [calcMax],
            },
            step: calcStep,
            animate: false,
          };
        </script> -->
      </div>
    </div>
  </div>
  <div class="head-pic">
    <img
      src="./../../../assets/img/images/supergirl_main.png"
      alt="image"
    />
  </div>
</section>
