@import "./../../shared/variables";

.step.active .user-data-percent {
  -webkit-animation: percentWidth 5s 1 linear forwards;
  animation        : percentWidth 5s 1 linear forwards
}

.step-row {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack          : justify;
  justify-content        : space-between
}

.step-row_top {
  -webkit-box-align  : end;
  -webkit-align-items: flex-end;
  -ms-flex-align     : end;
  align-items        : flex-end;
  margin-bottom      : 50px
}

.step-row_top-mod {
  margin-bottom: 17px
}

.step-row_bottom {
  margin-top         : 54px;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center
}

.step-row_bottom-mod {
  margin-top: 60px
}

.step-row_bottom .btn_white {
  margin-right: 16px
}

.step-count {
  -webkit-flex-shrink: 0;
  -ms-flex-negative  : 0;
  flex-shrink        : 0;
  padding-left       : 20px;
  font-weight        : 500;
  line-height        : 20px;
  letter-spacing     : .171429px;
  color              : #959caa
}

.step-info {
  padding-right : 20px;
  letter-spacing: .171429px;
  color         : rgba(149, 156, 170, .7)
}

.step-info span {
  color: #ff5f5f
}

.step-info_mod {
  margin-bottom: 54px;
  line-height  : 20px;
  padding-right: 0
}

.step-info_mod span {
  color: $brand-black
}

.step-info_mod2 {
  margin-top   : 20px;
  margin-bottom: 0
}

.step-info_fz {
  font-size: 14px;
  color    : #959caa
}

.step-user {
  max-width         : 466px;
  margin            : 0 auto;
  background        : #fff;
  -webkit-box-shadow: 0 28px 44px rgba(61, 81, 107, .256966);
  box-shadow        : 0 28px 44px rgba(61, 81, 107, .256966);
  border-radius     : 20px;
  overflow          : hidden
}

.step-user-top {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  padding                : 42px 15px 31px
}

.step-back {
  cursor        : pointer;
  position      : relative;
  padding-left  : 17px;
  color         : #959caa;
  font-size     : 14px;
  line-height   : 22px;
  letter-spacing: .2px
}

.step-back:hover {
  color: #66b41f
}

.step-back:hover:before {
  color: #66b41f
}

.step-back:before {
  content           : '\e900';
  position          : absolute;
  left              : -3px;
  top               : 47%;
  -webkit-transform : translateY(-50%);
  -ms-transform     : translateY(-50%);
  transform         : translateY(-50%);
  font-family       : icomoon;
  font-size         : 8px;
  color             : #959caa;
  -webkit-transition: all .3s ease-out;
  -o-transition     : all .3s ease-out;
  transition        : all .3s ease-out
}

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
  margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

select:not(:-internal-list-box) {
  background-color: buttonface;
  overflow: visible !important;
}

.jq-selectbox__select.active {
  border: 1px solid #66b41f;
  background-color: #d8ff9f;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.jq-selectbox__trigger-arrow {
  overflow: visible;
  width: 12px;
  height: 9px;
  top: 20px;
  right: 25px;
  border: none;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  will-change: transform;
}
.jq-selectbox__trigger-arrow:after {
  content: '\e905';
  font-family: 'icomoon';
  font-size: 9px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
