$brand-light: #addc82;
$brand-dark: #16592d;
$brand-middle: #499b30;
$brand-middle1: #66b41f;
$brand-white: #fff;
$middle-white: #f7f8f9;
$brand-black: #040404;
$brand-grey: #eaeaea;
$colorNotActive: #959caa;
