@import "./../../shared/variables";

.main-wrapper {
  padding-top: 140px;
  background-color: $brand-middle;
}

.jq-checkbox {
  top                  : -1px;
  width                : 13px;
  height               : 13px;
  border               : 1px solid #c3c3c3;
  border-radius        : 3px;
  -moz-border-radius   : 3px;
  -webkit-border-radius: 3px;
  background           : #f6f6f6;
  box-shadow           : 0 0 1px 0 rgba(0, 0, 0, .05);
  -moz-box-shadow      : 0 0 1px 0 rgba(0, 0, 0, .05);
  -webkit-box-shadow   : 0 0 1px 0 rgba(0, 0, 0, .05);
  vertical-align       : middle;
  cursor               : pointer
}

.jq-checkbox.checked .jq-checkbox__div {
  width             : 9px;
  height            : 9px;
  margin            : 2px 0 0 2px;
  background        : #666;
  box-shadow        : 0 0 1px 0 rgba(0, 0, 0, .05);
  -moz-box-shadow   : 0 0 1px 0 rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .05)
}

.jq-checkbox.disabled {
  opacity: .5
}

.jq-radio {
  width                : 12px;
  height               : 12px;
  border               : 1px solid #c3c3c3;
  border-radius        : 50%;
  -moz-border-radius   : 50%;
  -webkit-border-radius: 50%;
  background           : #f6f6f6;
  box-shadow           : 0 0 0 0 transparent;
  -moz-box-shadow      : 0 0 0 0 transparent;
  -webkit-box-shadow   : 0 0 0 0 transparent;
  vertical-align       : middle;
  cursor               : pointer
}

.jq-radio.checked .jq-radio__div {
  width     : 6px;
  height    : 6px;
  margin    : 3px 0 0 3px;
  background: #666
}

.jq-radio.disabled {
  opacity: .5
}

.jq-file {
  width             : 270px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow        : 0 1px 2px rgba(0, 0, 0, .1);
  border-radius     : 4px
}

.jq-file input {
  cursor     : pointer;
  height     : auto;
  line-height: 1em
}

.jq-file__name {
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  width              : 100%;
  height             : 32px;
  padding            : 0 80px 0 10px;
  color              : #333;
  font               : 14px/30px Arial, sans-serif;
  white-space        : nowrap;
  -o-text-overflow   : ellipsis;
  text-overflow      : ellipsis;
  overflow           : hidden;
  border             : 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius      : 4px;
  -webkit-box-shadow : inset 1px 1px #f1f1f1;
  box-shadow         : inset 1px 1px #f1f1f1;
  background         : $brand-white
}

.focused .jq-file__name {
  border: 1px solid #5794bf
}

.jq-file__browse {
  position          : absolute;
  top               : 1px;
  right             : 1px;
  padding           : 0 10px;
  border-left       : 1px solid #ccc;
  border-radius     : 0 4px 4px 0;
  background        : #f1f1f1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  -webkit-box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow        : inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, .1);
  color             : #333;
  text-shadow       : 1px 1px $brand-white;
  font              : 14px/30px Arial, sans-serif
}

.jq-file:hover .jq-file__browse {
  background-color   : #e6e6e6;
  background-position: 0 -10px
}

.jq-file:active .jq-file__browse {
  background        : #f5f5f5;
  -webkit-box-shadow: inset 1px 1px 3px #ddd;
  box-shadow        : inset 1px 1px 3px #ddd
}

.jq-file.disabled .jq-file__name {
  color: #888
}

.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
  border-color      : #ccc;
  background        : #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow        : none;
  color             : #888
}

.jq-selectbox {
  vertical-align: middle;
  cursor        : pointer;
  width         : 100%
}

.jq-selectbox__select {
  height            : 40px;
  padding           : 10px 40px 0 15px;
  border            : 1px solid #c3c3c3;
  border-radius     : 3px;
  background        : #f5f5f5;
  -webkit-box-shadow: 0 0 2px 0 transparent;
  box-shadow        : 0 0 2px 0 transparent;
  font-size         : 14px;
  line-height       : 18px;
  color             : #000;
  font-family       : Arial, sans-serif
}

.jq-selectbox__select.active {
  border          : 1px solid #66b41f;
  background-color: #d8ff9f
}

.jq-selectbox__select:hover {
  background: #f5f5f5
}

.jq-selectbox__select:active {
  background: #f5f5f5
}

.jq-selectbox.focused .jq-selectbox__select {
  background: #f5f5f5
}

.opened .jq-selectbox__select {
  border-color: #000
}

.jq-selectbox.disabled .jq-selectbox__select {
  border-color      : #ccc;
  background        : #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow        : none;
  color             : #888
}

.jq-selectbox__select-text {
  display         : block;
  width           : 100%;
  overflow        : hidden;
  -o-text-overflow: ellipsis;
  text-overflow   : ellipsis;
  white-space     : nowrap
}

.jq-selectbox__trigger {
  position: absolute;
  top     : 0;
  right   : 0;
  width   : 34px;
  height  : 100%
}

.jq-selectbox__trigger-arrow {
  position    : absolute;
  top         : 14px;
  right       : 12px;
  width       : 0;
  height      : 0;
  overflow    : hidden;
  border-top  : 5px solid #000;
  border-right: 5px solid transparent;
  border-left : 5px solid transparent;
  background  : 0 0
}

.jq-selectbox__dropdown {
  top               : 40px;
  width             : 100%;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  margin            : 0;
  padding           : 0;
  border            : 1px solid #000;
  border-radius     : 4px;
  background        : $brand-white;
  box-shadow        : 0 0 2px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow   : 0 0 2px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1)
}

.jq-selectbox__search {
  margin: 5px
}

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  width             : 100%;
  margin            : 0;
  padding           : 5px 27px 6px 8px;
  outline           : none;
  border            : 1px solid #ccc;
  border-radius     : 3px;
  background        : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #f1f1f1;
  box-shadow        : inset 1px 1px #f1f1f1;
  color             : #333;
  -webkit-appearance: textfield
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none
}

.jq-selectbox__not-found {
  margin    : 5px;
  padding   : 5px 8px 6px;
  background: #f0f0f0;
  font-size : 13px
}

.jq-selectbox ul {
  margin : 0;
  padding: 0
}

.jq-selectbox li {
  min-height : 18px;
  padding    : 5px 10px;
  color      : #000;
  font-size  : 14px;
  line-height: 18px;
  font-family: Arial, sans-serif
}

.jq-selectbox li.selected {
  background-color: #000;
  color           : $brand-white
}

.jq-selectbox li:hover {
  background-color: #000;
  color           : $brand-white
}

.jq-selectbox li.disabled {
  color     : #ccc;
  background: 0 0
}

.jq-selectbox li.disabled:hover {
  background: 0 0
}

.jq-selectbox li.optgroup {
  font-weight: 700
}

.jq-selectbox li.optgroup:hover {
  background: 0 0;
  color     : #231f20;
  cursor    : default
}

.jq-selectbox li.option {
  padding-left: 25px
}

.jq-select-multiple {
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  padding            : 1px;
  border             : 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius      : 4px;
  -webkit-box-shadow : inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow         : inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, .1);
  background         : $brand-white;
  color              : #333;
  font               : 14px/18px Arial, sans-serif;
  cursor             : default
}

.jq-select-multiple.focused {
  border: 1px solid #5794bf
}

.jq-select-multiple.disabled {
  border-color      : #ccc;
  background        : #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow        : none;
  color             : #888
}

.jq-select-multiple ul {
  margin : 0;
  padding: 0
}

.jq-select-multiple li {
  padding   : 3px 9px 4px;
  list-style: none
}

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0
}

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px
}

.jq-select-multiple li.selected {
  background: #08c;
  color     : $brand-white
}

.jq-select-multiple li.disabled {
  color: #aaa
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #ccc;
  color     : $brand-white
}

.jq-select-multiple li.optgroup {
  font-weight: 700
}

.jq-select-multiple li.option {
  padding-left: 25px
}
.main-wrapper {
  min-width              : 320px;
  width                  : 100%;
  position               : relative;
  overflow               : hidden;
  min-height             : 100%;
  display                : -webkit-box;
  display                : -ms-flexbox;
  display                : -webkit-flex;
  display                : flex;
  -webkit-box-orient     : vertical;
  -webkit-box-direction  : normal;
  flex-direction         : column;
  -webkit-flex-direction : column;
  -ms-flex-direction     : column;
  -webkit-box-pack       : start;
  justify-content        : flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack          : start
}

.wrapper {
  min-width: 320px;
  max-width: 1200px;
  padding  : 0 40px;
  margin   : 0 auto;
  position : relative
}

p {
  font-size  : 12px;
  line-height: 14px;
  color      : $brand-black;
  padding    : 15px 0;
  font-weight: 400
}

h1 {
  font-size  : 81px;
  line-height: 77px;
  color      : $brand-black;
  font-family: rubik, sans-serif;
  padding    : 0;
  font-weight: 700
}

h2 {
  font-size  : 51px;
  line-height: 54px;
  color      : $brand-black;
  font-family: rubik, sans-serif;
  padding    : 0;
  font-weight: 700
}

h3 {
  font-size  : 21px;
  line-height: 30px;
  color      : $brand-black;
  font-family: rubik, sans-serif;
  padding    : 0;
  font-weight: 700
}

.loaded .main-wrapper {
  opacity: 0
}

.content {
  display: flex;
  flex-direction: column;
  min-width                : 320px;
  text-align               : left;
  width                    : 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order           : 2;
  order                    : 2;
  -webkit-order            : 2;
  -webkit-box-flex         : 1;
  -ms-flex-positive        : 1;
  flex-grow                : 1;
  -webkit-flex-grow        : 1
}

.content_profile {
  background-color: #eaeaea
}

.content_profile .wrapper {
  max-width: 1280px
}

.content_anketa {
  background-color: #eaeaea
}

input::-ms-clear {
  display: none
}

.btn {
  display                : -webkit-inline-box;
  cursor                 : pointer;
  display                : -webkit-inline-flex;
  display                : -ms-inline-flexbox;
  display                : inline-flex;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  min-width              : 228px;
  height                 : 58px;
  padding                : 12px 15px 10px;
  border-radius          : 60px;
  text-align             : center;
  font-weight            : 700;
  font-size              : 14px;
  line-height            : 24px;
  letter-spacing         : .2px;
  text-transform         : uppercase;
  color                  : $brand-white;
  background-color       : #499b30;
  cursor                 : pointer
}

.btn:hover {
  background-color: #5aa218
}

.btn:active {
  background-color: #539615
}

.btn_white {
  background-color: $brand-white;
  border          : 1px solid #e7ecec;
  color           : #cdd0d6
}

.btn_white:hover {
  background-color: #e6e6e6
}

.btn.freeze-btn {
  pointer-events  : none;
  background-color: #959caa
}
app-section-we, app-section-services, app-section-two, app-section-faq {
  background-color: $brand-white;
}

app-section-two {
  transform: translateY(22%);
  padding-top: 50px;
  height: 750px;
 }
 @media screen and (max-width:480px) {
  .logo div {
    font-size: 10px
  }

  .logo img {
    width: 105px
  }

  .header-lang {
    margin-right: 15px
  }

  .header-phone {
    font-size: 12px
  }

  .header-phone small {
    display: none
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}
