<app-header  [activeColor]="activeColor" [defaultColor]="defaultColor" [isDefaultLogo]="true" [textColor]="textColor"></app-header>
<div class="main-wrapper">

  <main class="content">
    <app-section-one></app-section-one>
    <app-section-two></app-section-two>
    <app-section-we></app-section-we>
    <app-section-money></app-section-money>
    <app-section-services></app-section-services>
    <app-section-review></app-section-review>
    <app-section-faq></app-section-faq>
    <app-section-three></app-section-three>
  </main>
</div>
<app-footer></app-footer>
