<section class="section section_3">
  <div class="wrapper">
    <h2>
      условия получения <br />
      <span>займа</span>
    </h2>
    <div class="loam-wrap">
      <app-loam-form></app-loam-form>
      <!-- <div class="calc-wrap">
        <div class="head-calc__title">
          Заполни заявку сейчас<br />
          и получи <span>деньги в 14:04</span>
        </div>
        <div class="head-calc">
          <div class="head-calc__top">
            <div class="head-calc__summ">
              <div class="calc-text calc-text_zaym">Сумма займа</div>
              <div
                class="calc-count calc-count_zaym"
                id="js-output-slider2"
              >
                3&nbsp;000 ₴
              </div>
            </div>
            <div class="head-calc__summ">
              <div class="calc-text calc-text_output">
                Сумма возврата
              </div>
              <div class="calc-count calc-count_output calc_ret_sum">
                3 000 ₴
              </div>
            </div>
          </div>
          <div class="head-calc__middle">
            <div
              class="head-calc__slider noUi-target noUi-ltr noUi-horizontal"
              id="js-range-slider2"
            >
              <div class="noUi-base">
                <div class="noUi-connects">
                  <div
                    class="noUi-connect"
                    style="
                      transform: translate(0%, 0px) scale(0.128205, 1);
                    "
                  ></div>
                </div>
                <div
                  class="noUi-origin"
                  style="
                    transform: translate(-871.795%, 0px);
                    z-index: 4;
                  "
                >
                  <div
                    class="noUi-handle noUi-handle-lower"
                    data-handle="0"
                    tabindex="0"
                    role="slider"
                    aria-orientation="horizontal"
                    aria-valuemin="500.0"
                    aria-valuemax="20000.0"
                    aria-valuenow="3000.0"
                    aria-valuetext="3000.00"
                  >
                    <div class="noUi-touch-area"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="head-calc__bottom">
            <div class="head-calc__step">500 ₴</div>
            <div class="head-calc__step">20 000 ₴</div>
          </div>
        </div>
        <a
          href="pages/form.html"
          class="head-calc__btn js-save-sum-button"
          data-action="POST"
          data-url="pages/form.html"
          >Получить деньги</a
        >
      </div> -->
      <!-- <script type="text/javascript">
        var calcMax = parseInt("20000");
        var calcMin = parseInt("500");
        var calcStep = parseInt("500");
        var calcCurrent = parseInt("3000");
        var calcPercent = parseFloat("0.01");
        var recurrentSum = parseInt("169");
        var calcSettings = {
          start: [calcCurrent],
          connect: [true, false],
          range: {
            min: [calcMin],
            max: [calcMax],
          },
          step: calcStep,
          animate: false,
        };
      </script> -->
      <div class="loam-info">
        <h3>
          <span>возраст</span> <br />
          от 18 до 70 лет
        </h3>
        <h3>
          <span>процентная ставка</span> <br />
          от 0.01% на первый займ
        </h3>
        <h3>
          <span>территория предоставления услуги</span> - все регионы
          Украины
        </h3>
        <div class="loam-info__desc">
          <span>Как получить деньги?</span> <br />
          банковский перевод наличными в кассе, в&nbsp;терминале, онлайн
          платеж
        </div>
      </div>
    </div>
  </div>
  <div class="loam-pic">
    <img
      src="./../../../assets/img/images/supergirl_3rd.png"
      alt="image"
    />
  </div>
</section>
