<app-header  [activeColor]="activeColor" [defaultColor]="defaultColor" [isDefaultLogo]="true" [textColor]="textColor"></app-header>
<main class="content content_anketa">
  <section class="section-anketa">
    <div class="wrapper">
      <div class="hot">
        <h3>Найгарячіше</h3>
        <ul class="hot__list">
          <li class="hot__item js-offer-elem" style="cursor: pointer"
            data-url="https://gl.guruleads.ru/click/2205/279?sub3=&amp;sub4=&amp;sub5=show">
            <div class="hot-top-wrap">
              <div class="hot-pic">
                <img src="./../../../assets/img/images/211.png" alt="logo">
              </div>
              <div class="hot-chance">
                <div>Вірогідність</div>
                <div>97%</div>
              </div>
              <div class="hot-money">
                <div>до <span>15 000 ₴</span></div>
                <div>від 0.5% на день</div>
              </div>
            </div>
            <a href="https://gl.guruleads.ru/click/2205/279?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.ru/click/2205/279?sub3=&amp;sub4=&amp;sub5=show" class="js-offer-elem btn"
              target="_blank">Отримати</a>
          </li>
          <li class="hot__item js-offer-elem" style="cursor: pointer"
            data-url="https://gl.guruleads.com.ua/click/2205/234?sub3=&amp;sub4=&amp;sub5=show">
            <div class="hot-top-wrap">
              <div class="hot-pic">
                <img src="./../../../assets/img/images/7.png" alt="logo">
              </div>
              <div class="hot-chance">
                <div>Вірогідність</div>
                <div>96%</div>
              </div>
              <div class="hot-money">
                <div>до <span>7 000 ₴</span></div>
                <div>від 0.01% на день</div>
              </div>
            </div>
            <a href="https://gl.guruleads.com.ua/click/2205/234?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.com.ua/click/2205/234?sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="hot__item js-offer-elem" style="cursor: pointer"
            data-url="https://rdr.stormdigital.biz/click?pid=789&amp;offer_id=3&amp;sub3=&amp;sub4=&amp;sub5=show">
            <div class="hot-top-wrap">
              <div class="hot-pic">
                <img src="./../../../assets/img/images/218.png" alt="logo">
              </div>
              <div class="hot-chance">
                <div>Вірогідність</div>
                <div>95%</div>
              </div>
              <div class="hot-money">
                <div>до <span>7 000 ₴</span></div>
                <div>від 0.01% на день</div>
              </div>
            </div>
            <a href="https://rdr.stormdigital.biz/click?pid=789&amp;offer_id=3&amp;sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://rdr.stormdigital.biz/click?pid=789&amp;offer_id=3&amp;sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
        </ul>
      </div>
      <div class="offers">
        <h3>Всі пропозиції</h3>
        <ul class="offers__list">
          <li class="offers__item  js-offer-elem" data-url="https://dark.click/go.php?oid=20&amp;uid=50&amp;sub1=BBL"
            style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/257.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 0.01% на день</div>
              <div><small>до </small>60 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>93%</div>
            </div>
            <a href="https://dark.click/go.php?oid=20&amp;uid=50&amp;sub1=BBL"
              data-url="https://dark.click/go.php?oid=20&amp;uid=50&amp;sub1=BBL" class="js-offer-elem btn"
              target="_blank">Отримати</a>
          </li>
          <li class="offers__item  js-offer-elem"
            data-url="https://gl.guruleads.ru/click/2205/175?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/9.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 0.01% на день</div>
              <div><small>до </small>10 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>91%</div>
            </div>
            <a href="https://gl.guruleads.ru/click/2205/175?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.ru/click/2205/175?sub3=&amp;sub4=&amp;sub5=show" class="js-offer-elem btn"
              target="_blank">Отримати</a>
          </li>
          <li class="offers__item  js-offer-elem"
            data-url="https://rdr.stormdigital.biz/click?pid=789&amp;offer_id=116&amp;sub3=&amp;sub4=&amp;sub5=show"
            style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/222.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 0.01% на день</div>
              <div><small>до </small>9 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>90%</div>
            </div>
            <a href="https://rdr.stormdigital.biz/click?pid=789&amp;offer_id=116&amp;sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://rdr.stormdigital.biz/click?pid=789&amp;offer_id=116&amp;sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  js-offer-elem"
            data-url="https://gl.guruleads.ru/click/2205/158?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/4.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 2% на день</div>
              <div><small>до </small>10 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>90%</div>
            </div>
            <a href="https://gl.guruleads.ru/click/2205/158?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.ru/click/2205/158?sub3=&amp;sub4=&amp;sub5=show" class="js-offer-elem btn"
              target="_blank">Отримати</a>
          </li>
          <li class="offers__item  js-offer-elem"
            data-url="https://gl.guruleads.com.ua/click/2205/206?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/27.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 1% на день</div>
              <div><small>до </small>3 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>89%</div>
            </div>
            <a href="https://gl.guruleads.com.ua/click/2205/206?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.com.ua/click/2205/206?sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  js-offer-elem"
            data-url="https://gl.guruleads.ru/click/2205/157?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/3.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 0.5% на день</div>
              <div><small>до </small>17 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>87%</div>
            </div>
            <a href="https://gl.guruleads.ru/click/2205/157?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.ru/click/2205/157?sub3=&amp;sub4=&amp;sub5=show" class="js-offer-elem btn"
              target="_blank">Отримати</a>
          </li>
          <li class="offers__item  js-offer-elem"
            data-url="https://gl.guruleads.ru/click/2205/149?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/212.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 0.01% на день</div>
              <div><small>до </small>10 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>86%</div>
            </div>
            <a href="https://gl.guruleads.ru/click/2205/149?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.ru/click/2205/149?sub3=&amp;sub4=&amp;sub5=show" class="js-offer-elem btn"
              target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://gl.guruleads.com.ua/click/2205/167?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/8.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 2% на день</div>
              <div><small>до </small>10 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>85%</div>
            </div>
            <a href="https://gl.guruleads.com.ua/click/2205/167?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.com.ua/click/2205/167?sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://gl.guruleads.ru/click/2205/148?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/2.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 0.01% на день</div>
              <div><small>до </small>12 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>84%</div>
            </div>
            <a href="https://gl.guruleads.ru/click/2205/148?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.ru/click/2205/148?sub3=&amp;sub4=&amp;sub5=show" class="js-offer-elem btn"
              target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://gl.guruleads.com.ua/click/2205/381?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/233.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 1.5% на день</div>
              <div><small>до </small>5 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>82%</div>
            </div>
            <a href="https://gl.guruleads.com.ua/click/2205/381?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.com.ua/click/2205/381?sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://gl.guruleads.com.ua/click/2205/380?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/254.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 2% на день</div>
              <div><small>до </small>15 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>80%</div>
            </div>
            <a href="https://gl.guruleads.com.ua/click/2205/380?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.com.ua/click/2205/380?sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://tds.pdl-profit.com?offerid=1187&amp;affid=19397&amp;utm_source=show&amp;utm_medium=&amp;utm_campaign="
            style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/231.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 1.5% на день</div>
              <div><small>до </small>5 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>79%</div>
            </div>
            <a href="https://tds.pdl-profit.com?offerid=1187&amp;affid=19397&amp;utm_source=show&amp;utm_medium=&amp;utm_campaign="
              data-url="https://tds.pdl-profit.com?offerid=1187&amp;affid=19397&amp;utm_source=show&amp;utm_medium=&amp;utm_campaign="
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://rdr.salesdoubler.com.ua/in/offer/2591?aid=82586&amp;source=show&amp;campaign=&amp;promo="
            style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/248.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 2% на день</div>
              <div><small>до </small>4 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>72%</div>
            </div>
            <a href="https://rdr.salesdoubler.com.ua/in/offer/2591?aid=82586&amp;source=show&amp;campaign=&amp;promo="
              data-url="https://rdr.salesdoubler.com.ua/in/offer/2591?aid=82586&amp;source=show&amp;campaign=&amp;promo="
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://tds.pdl-profit.com?offerid=1164&amp;affid=19397&amp;utm_source=show&amp;utm_medium=&amp;utm_campaign="
            style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/230.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 3% на день</div>
              <div><small>до </small>7 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>69%</div>
            </div>
            <a href="https://tds.pdl-profit.com?offerid=1164&amp;affid=19397&amp;utm_source=show&amp;utm_medium=&amp;utm_campaign="
              data-url="https://tds.pdl-profit.com?offerid=1164&amp;affid=19397&amp;utm_source=show&amp;utm_medium=&amp;utm_campaign="
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://rdr.salesdoubler.com.ua/in/offer/1069?aid=82586&amp;source=show&amp;campaign=&amp;promo="
            style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/316.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 1.9% на день</div>
              <div><small>до </small>5 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>66%</div>
            </div>
            <a href="https://rdr.salesdoubler.com.ua/in/offer/1069?aid=82586&amp;source=show&amp;campaign=&amp;promo="
              data-url="https://rdr.salesdoubler.com.ua/in/offer/1069?aid=82586&amp;source=show&amp;campaign=&amp;promo="
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
          <li class="offers__item  hidden  js-offer-elem"
            data-url="https://gl.guruleads.com.ua/click/2205/190?sub3=&amp;sub4=&amp;sub5=show" style="cursor: pointer">
            <div class="offers-pic">
              <img src="https://babules.com.ua/offers-img/262.png?t=1593952442" alt="logo">
            </div>
            <div class="offers-money">
              <div>від 1.5% на день</div>
              <div><small>до </small>5 000 ₴</div>
            </div>
            <div class="offers-chance">
              <div>Ймовірність</div>
              <div>65%</div>
            </div>
            <a href="https://gl.guruleads.com.ua/click/2205/190?sub3=&amp;sub4=&amp;sub5=show"
              data-url="https://gl.guruleads.com.ua/click/2205/190?sub3=&amp;sub4=&amp;sub5=show"
              class="js-offer-elem btn" target="_blank">Отримати</a>
          </li>
        </ul>
        <div class="offers-btn ">
          <a href="#" class="btn btn_white show-more-offers">Більше варіантів</a>
        </div>
      </div>
    </div>
  </section>
  </main>
  <app-footer></app-footer>
