
      <footer>
        <div class="wrapper">
          <div class="footer-title">
            Заполните заявку сейчас, и наличные у вас
          </div>
          <div class="footer-text">
            Услугу подбора предложений "Бабулес" предоставляет компания ООО
            "ЛИДМАСТЕРС" ЕДРПОУ 25959784. Сайт предоставляет платные услуги
            подбора кредитных продуктов для клинтов, а именно предлагает клиенту
            список предложений кредитных организаций, к которым клиент может
            обратиться с целью оформления заявки на кредитный продукт. Проект не
            является банком или кредитором, не относится к кредитным
            организациям и не несет ответственности за подписание каких-либо
            договоров кредитования или же поручительства по ним. Минимальная
            процентная ставка у некоторых партнеров составляет 0,01%. Для того,
            чтобы оформить заявку на получение займа, необходимо заполнить
            анкету на сайте проекта. Совершая любые действия на сайте, вам
            необходимо дать согласие на
            <a
              href="https://babules.com.ua/docs/personal_data_processing.pdf?ctSqJCac"
              target="_blank"
              >Обработку персональнрых данных</a
            >
            и
            <a
              href="https://babules.com.ua/docs/info_agreement.pdf?ctSqJCac"
              target="_blank"
              >Согласие на получение рекламных материалов</a
            >. Вы ознакомились и соглашаетесь с
            <a
              href="https://babules.com.ua/docs/offerta.pdf?ctSqJCac"
              target="_blank"
              >Договором публичной оферты</a
            >
            и
            <a
              href="https://babules.com.ua/docs/tariff.pdf?ctSqJCac"
              target="_blank"
              >Тарифами сервиса</a
            >. Сервис "Бабулес" использует куки для предоставления услуг.
            Условия хранения или доступа к куки Вы можете самостоятельно
            настроить в своем браузере. Сервис предназначен для использования
            лицами, достигшими возраста 18 лет. Расчет в калькуляторах,
            предоставленный на сайте, базируется на среднем показателе
            процентной ставки, которая будет предложена вам финансовыми
            организациями.<br /><br />По любым вопросам вы можете связаться со
            специалистами сервиса по почте
            <a href="mailto:client@babules.com.ua">client@babules.com.ua</a> и
            телефону
            <a href="tel:0442281431">(044)&nbsp;<span>228-14-31</span></a
            >.<br />Обработка заявки платная: стоимость услуги (далее по сайту —
            Активация сервиса) составляет 169 (сто шестдесят девять) гривен.
            Стоимость подписки составляет 169 (сто шестдесят девять) гривен
            каждые пять дней. Оплата услуг сервиса не гарантирует Вам получение
            займа. Если услуга перестала быть актуальна для вас (вы получили
            займ или более не нуждаетесь в займах), вы можете самостоятельно
            отписаться от услуги в любой момент -
            <a href="pages/sms-unsubscribe.html" target="_blank"
              >Отменить подписку</a
            >.
          </div>
          <div class="footer-row">
            <div class="footer-contacts">
              <div>
                ООО «Лидмастерс» г. Киев, ул. Льва Толстого д.33 офис 75
              </div>
              <div>
                <a href="tel:0442281431">(044)&nbsp;<span>228-14-31</span></a>
                <a href="mailto:client@babules.com.ua">client@babules.com.ua</a>
              </div>
            </div>
            <div class="footer-btns">
              <a routerLink="/unsubscribe" routerLinkActive="active"  class="btn"
                >Отписаться от SMS рассылки</a
              >
            </div>
            <div class="footer-partners">
              <div class="footer-partners__cards">
                <span class="icon-visa"></span>
                <span class="icon-mastercard"
                  ><span class="path1"></span><span class="path2"></span
                  ><span class="path3"></span
                ></span>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <span class="politic-year">©2020 Babules</span>
          </div>
        </div>
      </footer>
