<section class="section section_2">
  <div class="wrapper">
    <div class="inner">
      <h2>как получить <br /><span>деньги?</span></h2>
      <ul class="monney__list js-boxes" [ngClass]="{'active' : isActive}">
        <li class="monney__item">
          <div class="monney-ico">
            <span class="icon-step_1"></span>
          </div>
          <div class="monney-count">1</div>
          <h3>
            <span>заполните</span> <br />
            анкету
          </h3>
        </li>
        <li class="monney__item">
          <div class="monney-ico">
            <span class="icon-step_2"></span>
          </div>
          <div class="monney-count">2</div>
          <h3>
            <span>получите</span> <br />
            подтверждение
          </h3>
        </li>
        <li class="monney__item">
          <div class="monney-ico">
            <span class="icon-step_3"></span>
          </div>
          <div class="monney-count">3</div>
          <h3>
            <span>заберите</span> <br />
            свои деньги
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
