<section class="section section_we">
  <div class="wrapper">
    <h2>Почему <span>мы?</span></h2>
    <div class="subtitle">
      Мы помогаем с займом даже с плохой кредитной историей, поэтому 4
      из 5 клиентов возвращаются к нам.
    </div>
    <ul class="we__list">
      <li>
        <div class="we-icon">
          <img
            src="./../../../assets/img/icons-fonts/why_1.svg"
            alt="why"
          />
        </div>
        <p>
          <span>Мы не перезваниваем</span> и не <br />
          требуем фото с паспортом. <br />
          Достаточно анкеты
        </p>
      </li>
      <li>
        <div class="we-icon">
          <img
            src="./../../../assets/img/icons-fonts/why_2.svg"
            alt="why"
          />
        </div>
        <p>
          <span>Не проверяем</span> вашу кредитную <br />
          историю, работаем <br />
          на доверии
        </p>
      </li>
      <li>
        <div class="we-icon">
          <img
            src="./../../../assets/img/icons-fonts/why_3.svg"
            alt="why"
          />
        </div>
        <p>
          <span>Ваши данные надежно защищены</span>  <br />
          и никогда не уйдут третьим лицам <br /> без вашего согласия
        </p>
      </li>
    </ul>
  </div>
</section>
