<section class="section section_money">
  <div class="wrapper">
    <div class="inner">
      <h2>
        <span>Деньги</span> <br />
        в удобном для вас виде
      </h2>
      <ul class="money__list">
        <li>
          <img
            src="./../../../assets/img/images/money-2.png"
            alt="money"
            style="max-width: 80px;"
          />
        </li>
        <li>
          <img
            src="./../../../assets/img/images/money-4.png"
            alt="money"
            style="max-width: 94px;"
          />
        </li>
      </ul>
      <a href="pages/form.html" class="btn">Получить деньги</a>
    </div>
  </div>
</section>
