<section class="section section_review">
  <div class="wrapper">
    <h2>Отзывы</h2>
    <div class="review-sliders">
      <ul class="review-sliders__quote slick-initialized slick-slider">
        <div class="slick-list">
          <div class="slick-track" style="opacity: 1; width: 3020px;">
            <li
              class="slick-slide slick-current slick-active"
              data-slick-index="0"
              aria-hidden="false"
              style="
                width: 755px;
                position: relative;
                left: 0px;
                top: 0px;
                z-index: 999;
                opacity: 1;
              "
              tabindex="0"
            >
              <blockquote>
                <span
                  >Без проблем заполнил анкету, получил подтверждение, в
                  тот же день получил деньги себе на карту!</span
                >
              </blockquote>
            </li>
            <li
              class="slick-slide"
              data-slick-index="1"
              aria-hidden="true"
              style="
                width: 755px;
                position: relative;
                left: -755px;
                top: 0px;
                z-index: 998;
                opacity: 0;
                transition: opacity 500ms ease 0s;
              "
              tabindex="-1"
            >
              <blockquote>
                <span
                  >Отличный сервис! Срочно были нужны деньги до
                  зарплаты, без проблем оформила займ.</span
                >
              </blockquote>
            </li>
            <li
              class="slick-slide"
              data-slick-index="2"
              aria-hidden="true"
              style="
                width: 755px;
                position: relative;
                left: -1510px;
                top: 0px;
                z-index: 998;
                opacity: 0;
                transition: opacity 500ms ease 0s;
              "
              tabindex="-1"
            >
              <blockquote>
                <span
                  >Не всегда хватает денег, особенно в наше время. Нужны
                  были деньги для оплаты аренды, оформил нужный займ без
                  проблем.</span
                >
              </blockquote>
            </li>
            <li
              class="slick-slide"
              data-slick-index="3"
              aria-hidden="true"
              style="
                width: 755px;
                position: relative;
                left: -2265px;
                top: 0px;
                z-index: 998;
                opacity: 0;
                transition: opacity 500ms ease 0s;
              "
              tabindex="-1"
            >
              <blockquote>
                <span
                  >К сожалению, иногда приходится пользоваться подобными
                  сервисами, отлично, что теперь можно все сделать через
                  интернет. Займ взял на карту, все быстро.</span
                >
              </blockquote>
            </li>
          </div>
        </div>
      </ul>
      <ul
        class="review-sliders__author slick-initialized slick-slider slick-dotted"
      >
        <div class="slick-list draggable" style="padding: 0px 150px;">
          <div
            class="slick-track"
            style="
              opacity: 1;
              width: 4950px;
              transform: translate3d(-990px, 0px, 0px);
            "
          >
            <li
              class="slick-slide slick-cloned"
              style="width: 455px;"
              data-slick-index="-2"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Леоненко Артем</div>
                  <div class="author-pos">Киев</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide slick-cloned"
              style="width: 455px;"
              data-slick-index="-1"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Омельченко Станислав</div>
                  <div class="author-pos">Запорожье</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide slick-current slick-active slick-center"
              style="width: 455px;"
              data-slick-index="0"
              aria-hidden="false"
              tabindex="0"
              role="tabpanel"
              id="slick-slide10"
              aria-describedby="slick-slide-control10"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Котенко Дмитрий</div>
                  <div class="author-pos">Харьков</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide"
              style="width: 455px;"
              data-slick-index="1"
              aria-hidden="true"
              tabindex="-1"
              role="tabpanel"
              id="slick-slide11"
              aria-describedby="slick-slide-control11"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Вуйчик Анастасия</div>
                  <div class="author-pos">Львов</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide"
              style="width: 455px;"
              data-slick-index="2"
              aria-hidden="true"
              tabindex="-1"
              role="tabpanel"
              id="slick-slide12"
              aria-describedby="slick-slide-control12"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Леоненко Артем</div>
                  <div class="author-pos">Киев</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide"
              style="width: 455px;"
              data-slick-index="3"
              aria-hidden="true"
              tabindex="-1"
              role="tabpanel"
              id="slick-slide13"
              aria-describedby="slick-slide-control13"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Омельченко Станислав</div>
                  <div class="author-pos">Запорожье</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide slick-cloned"
              style="width: 455px;"
              data-slick-index="4"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Котенко Дмитрий</div>
                  <div class="author-pos">Харьков</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide slick-cloned"
              style="width: 455px;"
              data-slick-index="5"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Вуйчик Анастасия</div>
                  <div class="author-pos">Львов</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide slick-cloned slick-center"
              style="width: 455px;"
              data-slick-index="6"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Леоненко Артем</div>
                  <div class="author-pos">Киев</div>
                </div>
              </div>
            </li>
            <li
              class="slick-slide slick-cloned"
              style="width: 455px;"
              data-slick-index="7"
              aria-hidden="true"
              tabindex="-1"
            >
              <div class="author-block">
                <div class="author-info">
                  <div class="author-name">Омельченко Станислав</div>
                  <div class="author-pos">Запорожье</div>
                </div>
              </div>
            </li>
          </div>
        </div>
        <ul class="slick-dots" style="" role="tablist">
          <li class="slick-active" role="presentation">
            <span class="dot"></span>
          </li>
          <li role="presentation" class="">
            <span class="dot"></span>
          </li>
          <li role="presentation" class="">
            <span class="dot"></span>
          </li>
          <li role="presentation" class="">
            <span class="dot"></span>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</section>
<!-- <app-carousel></app-carousel> -->
